.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.jumbotron {
  background-color: #def0fc;
  text-align: center;
  padding-top: 120px;
}

.jumbotron img {
  border-radius: 50%;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container h2 {
  text-align: center;
  padding-bottom: 25px;
}

.container p {
  text-align: justify;
}

#certification {
  background-color: #def0fc;
}

.col-md-3 p {
  text-align: center;
}

p a {
  text-decoration: none;
  color: #2f54a3;
}

footer {
  height: 60px;
  weight: 100%;
}

footer p {
  text-align: center;
  text-decoration: none;
  padding: 15px;
}

footer p a {
  color: black;
}

footer p a:hover {
  color: white
}

button {
  background: #2f54a3;
  color: white;
  border: white 1px solid;
  border-radius: 10px;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}
