.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.jumbotron {
  background-color: #def0fc;
  text-align: center;
  padding-top: 120px;
}

.jumbotron img {
  border-radius: 50%;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container h2 {
  text-align: center;
  padding-bottom: 25px;
}

.container p {
  text-align: justify;
}

#certification {
  background-color: #def0fc;
}

.col-md-3 p {
  text-align: center;
}

p a {
  text-decoration: none;
  color: #2f54a3;
}

p a:hover {
  color: black;
}
